<!--  YOUR CODE HERE -->
<% require 'pry' %>
<% binding.pry %>
<h1><%=@name%></h1>
</br>
</br>
<!--
<ul> 
<%@ingredients.each do |ingredient| %>  
  <%=ingredient%>
<%end%>
</br>
</br>
<li>
<%=@directions.each do |direction| %>
  <%=direction%>
<%end%>
</li>
</ul>
-->
