
<h1><%="Welcome one and all to the Magical Creatures Website"%></h1>
<h2><%="We have more magical creatures here than any other webpage within 6 feet!"%></h2>
<a href="http://localhost:4567/creatures">Visit our Creatures page to see more!</a></br></br>
<img src="images/Dragon.jpg" alt="dragon picture should be here">