<h1>this should show up</h1>
<h1><%=@creature.name%></h1>
<ul>
<%binding.pry%>
<%="Our #{@creature.name} is approximately #{@creature.age} years old.  The most well known ability of #{@creature.name} is it can #{@creature.ability}"%>
</ul>