h1 {
  font-weight: bold;
  font-size: xx-large;
  margin: 30px;
  text-align: center;
  color: purple;
}

body {
  
}

p {
  text-align: center;
}

.blurb {
text-align: center;
}

a {
  color: blue;
  text-decoration: underline;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  margin-bottom: 30px;
}

ul {
  text-align: left;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
