<h1>Trains#index</h1>
<p>Find me in app/views/trains/index.html.erb</p>
  
  
  <h1>Trains</h1>

<table>

  <tbody>
    <% @trains.each do |train| %>
      <tr>
        <td><%= train.name %></td>
      </tr>
    <% end %>
  </tbody>

  </table>

<br>