/* YOUR STYLING HERE */
body {
  background-image: url("https://s3.amazonaws.com/horizon-production/images/donut-pile.jpg");
  background-size: 100%;

  .donut-list {
    background: rgba(255,255,255,.5);
    padding: 50px;
  }
}
