/* YOUR STYLING HERE */
h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold;
  text-align: center;
  color: #37BECC;

}

button {
 background-color: #1c2224;
 box-shadow: 3px;
 margin-right: 20px;
 margin-left: 20px;
 font-weight: bold;
 border-color: #1c2224;
 border-width:  2px;
 color: #E5F3F4;
 padding: 7px;
 display: inline-block;
 text-align: center;

}
h3 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: medium;
  display: inline-block;
}


p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #1c2224;
  font-size: medium;

}

body {
  background-color: #E5F3F4;

}