

<ul><%=@error%></ul>
<form action="/articles/new" method="post">
  <label  for="title"> Title
    <input type="text" name="title" id="title" >
  </label>
  </br> </br>
  <label  for="description"> Description
    <input type="text" name="description" id="description" >
  </label>
  </br> </br>
  <label  for="url"> Link
    <input type="text" name="url" id="url" >
  </label>
  </br>
  </br>
  <input type="submit" value="Submit">
</form>